html {
    font-size:10pt;
}
body {
    text-align:center;
}


@page {
    size: A4 portrait;
    padding:0 0 .5cm;
    margin:0;

    @top-left {
        content:"";
    }
    @top-right {
        content:"";
    }
    @bottom-left {
        content:"";
    }
    @bottom-right {
        content:""
    }
}

@media print {
	.break{
	    break-after: page;
	}
}
.page {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align:left;
	display:block;
}

/* Format des cartes de visite : 85 × 54 */ 
.carte {
    width: 85mm ;
    height : 54mm  ;
    margin-right:8mm;
    margin-left:8mm;
    margin-top:1mm;
    margin-bottom:1mm;
    display: inline-block;
    border: 1px solid black ;
}

.carteverso {
    width: 85mm ;
    height : 54mm  ;
    margin-right:8mm;
    margin-left:8mm;
    margin-top:1mm;
    margin-bottom:1mm;
    display: inline-block;
}

img[id^=logo] {
    max-width:87mm;
    max-height:60mm;
}


.header {
    background: rgba(174,200,27,255);
}


ul.coop {
    cursor: default;
    list-style: none;
    padding:0;
    margin:0;
}

ul.coop li {
}

.coop {
    display:flex;
    align-items:center;
    align-content:space-between;
    min-height: 30px;
}

.numero {
    font-family: "Raleway";
    font-size: 8px;
    font-weight: bold;
    margin-left: 2rem  ;
    color : rgba(48,49,51,255);
    flex: 1 1 30%;

}

.type {
    flex: 1 1 70%;
    font-family: "Raleway";
    font-size: 14px ;
    font-weight: 800;
    color: rgba(255,255,255,255);
    text-transform: uppercase;
    text-align:right;
    margin-left:auto;
    margin-right:2rem;


}

.content {
    background: #ffffff;
    width: 100% ;
    height: 38mm;
    display:inline-block ;
}




img[id^=barcode] {
    max-width:38mm;
}

.blocinfo {
    display:inline-block ;
    width: 50% ;
}

.blocphoto {
    display:inline-block ;
    margin-left: 2em;
}
.blocphoto img {
    max-height:3cm;
    height: 38mm;
}



ul.nom_prenom {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

.nom_prenom {
    background: #ffffff;
    margin-left: 1em;
}

.nom {
    font-family: "Raleway" ;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}

.prenom {
    font-family: "Raleway";
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
}



.footerhr {
    background: rgba(174,200,27,255);
    height: 2px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    background: #ffffff;
    margin-left: auto;
    width: 90%;
    margin-right: auto;

}


.footer1 {
    margin-left: 15px;
    text-transform: uppercase;
    font-family: "Raleway";
    font-size: 10px;
    font-weight: bold;
    color : rgba(48,49,51,255);
}

.footer2 {
    font-family: "Neou";
    font-size: 8px;
    font-weight: bold ;
    text-transform: uppercase;
    color: rgba(48,49,51,255);
}

.footer3 {
    text-transform: uppercase;
    font-family: "Raleway";
    font-size: 8px;
    font-weight: bold;
    color: rgba(174,200,27,255);
}



.footer4 {
    text-transform: uppercase;
    font-family: "Raleway";
    font-size: 8px;
    color: rgba(48,49,51,255);
}



/*
barcode : https://codepen.io/wbarlow/post/creating-a-barcode-generator-with-css
SCSS -> CSS : https://www.sassmeister.com/
autre méthode utilisée pour finir : http://lindell.me/JsBarcode/
*/
